body{
	padding:0;
	margin:0;
}
		
nav{
	width: 100%;
	display: flex; /* alinhar o menu na frente do logo */
	position: fixed;
	background-color: Aquamarine;
	z-index: 99;
}

nav a {
	display: flex;
	margin: auto 20px auto 50px; /* topo | direita | inferior | esquerda */
	text-decoration: none; /* tirar o sublinhado */
	font-weight: bold;
}
		
nav li{
	float: left;  /* alinhar os itens "li" na mesma linha e a esquerda */
	list-style: none;
	margin-left: 20px;
}

nav div{
	margin: auto 5% auto auto; /* topo | direita | inferior | esquerda */
}

button{
	border-radius: 8px;
	padding: 10px, 18px;
	margin-left: 10px;
	width: 112px;
	height: 44px;
}

#btn_cadastrar {
	background-color: #8E2424;
}
